.menu-left li {
    padding-top: 10px;
    font-size: 16px;
    padding-left: 10px;
}
.menu-left li a {
    text-transform: uppercase;
}

.block {
    width: 970px;
    height: 205px;
    position: relative;
    margin: 0 auto;
}

.viewport {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 205px;
}
.kv {
    width: 1164px;
}
.tutor {
    width: 194px;
    height: 100%;
    float: left;
    padding: 5px;
    text-align: center;
}

.tutor img {
    width: 184px;
    border: 4px solid rgb(248, 245, 233);
    margin: 5px 0px 5px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.496094) 0px 0px 5px;
    position: relative;
    float: left;
}

.search .col-md-3, .search .col-md-12, .search .col-md-4 {
    color: #D62E2F;
    text-align: center;
}

.search .title {
    font-weight: bold;
}

.search ul {
    padding-left: 0px;
    padding-top: 5px;
}

.search li {
    list-style: none;
}

.form-group .error {
    display: none;
    float: left;
}
.form-group .help-block {
    text-align: left;
}

.form-group.has-error .error {
    display: block;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -15px;
    background: white;
    padding: 5px 20px;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    z-index: 2;
}

.bs-docs-footer-links li {
    display: inline;
    padding: 0 4px;
}
ul.bs-docs-footer-links {
    padding-left: 0px;
}