body { height: 100%; }
html { height: 100%; }

.menu-left li {
    padding-top: 10px;
    font-size: 16px;
    padding-left: 10px;
}
.menu-left li a {
    text-transform: uppercase;
}

.block {
    width: 970px;
    height: 205px;
    position: relative;
    margin: 0 auto;
}

.viewport {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 205px;
}
.kv {
    width: 1164px;
}
.tutor {
    width: 194px;
    height: 100%;
    float: left;
    padding: 5px;
    text-align: center;
}

.tutor img {
    width: 150px;
    border: 4px solid rgb(248, 245, 233);
    margin: 5px 0px 5px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.496094) 0px 0px 5px;
    position: relative;
    /*float: left;*/
}

.search .col-md-3, .search .col-md-12, .search .col-md-4, .title a {
    color: #D62E2F;
    text-align: center;
}

.search .title {
    font-weight: bold;
}
.search ul {
    padding-left: 0px;
    padding-top: 5px;
}

.search li {
    list-style: none;
}

.form-group .error {
    display: none;
    float: left;
}
.form-group .help-block {
    text-align: left;
}

.form-group.has-error .error {
    display: block;
}
#loading {
    display:none;
    position:absolute;
    width: 100%;
    height:100%;
    z-index: 5;
    opacity: 0.7;
    background: grey;
}
#small_image_user_pic {
    float: left;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -15px;
    background: white;
    padding: 5px 20px;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1003;
}

.bs-docs-footer-links li {
    display: inline;
    padding: 0 4px;
}
ul.bs-docs-footer-links {
    padding-left: 0px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    width: 20px;
    height: 20px;
}

#image_preview_window {
    position: fixed;
    z-index: 1003;
    width: 100%;
    height: 100%;
    display: block;
    padding: 20px;
    display: none;
}
#outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    padding:10px;
}
#overlay_crop {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1002;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(119, 119, 119);
    opacity: 0.7;
    cursor: pointer;
    height: 100%;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
.close:hover, .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.carousel-control.left, .carousel-control.right {
    background: none;
    z-index: 2;
    position: absolute;
}
.carousel-caption {
    color: #333333;
    font-size: 22px;
    text-align: left;
    right: 0%;
}

.promo_text {
    float: left;
    padding-bottom: 25px;
}
.carousel-inner>.item {
    z-index: 1;
}
.carousel-indicators {
    width: 40%;
}

.modal-dialog-center {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 45%;
}
.user_info .row {
    padding-bottom: 10px;
}

.message {
    cursor: pointer;
}

td.no {
    border-top: 0px!important;
}

.menu div {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 25px;
    line-height: 30px;
}

@media (min-width: 992px) {
    .menu div {
        text-align: left;
    }
}

.short {
    font-size: 12px;
    color: #808080;
}

.rubric {
    font-size: 16px;
    line-height: 36px;
}

.img-thumbnail {
    max-width: none;
}